{% extends 'layouts/layout.html' %}
{% block title %} 유온 Your Own {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}

<!-- 내용 추가 -->
{% block content %}
<div>
    <div class="profile-image-container">
        <img src="{{ url_for('static', filename='src/default-profile-img.png') }}" alt="User Profile" class="profile-image">
        <div>
            <p class="profile-name">{{ flask_login.current_user.Username }}</p>
            <input type="text" placeholder="{{ flask_login.current_user.Username }}">
        </div>
    </div>
</div>
{% endblock %}



<!-- 추가 JavaScript 예시 -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}